:root {
    --padding: 20px;

    /* Primary Colors */
    --timbers-green: #004812;
    --victory-gold: #B9975B;
    --dark-forest: #002E0F;
    --white-smoke: #F5F5F5;
    --timber-tan: #D6C4A8;
    --steel-gray: #4F4F4F;
    --pine-mist-green: #7BAF8B;

   /* Accent Colors */
    --clive-kit-claret: #7A263A;
    --rose-city-red: #DA1A32;

    /* Utility */
    --text-primary: --steel-gray;
    --text-heading: --dark-forest;
    --background-light: --white-smoke;
    --background-dark: --timbers-green;
}


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
    font-family: Helvetica, sans-serif;

    background-color: var(--white-smoke);
}

h3 {
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding);

    h1 {
        width: 80%;
        margin-left: 20px;
    }

    #team-logo {
        width: 50px;
        img { 
            width: 50px;
        }
    }
}

#filters {
    margin: 15px 0;
    background-color: white;
    padding: var(--padding) 10px;

    #select-container {
        font-size: 1.5rem;
        display: flex;

        select {
            font-size: 1.5rem;
            margin-left: 20px;
        }
    }
}


#card-container {
    display: flex;
    justify-content: space-between;

    .stat-card {
        border-left: 5px solid var(--victory-gold);
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        width: 20%;
        height: 100px;
        background-color: white;
        box-shadow: 1px 1px #cccccc;

        .card-title {
            font-size: 1rem;
            color: grey;
        }

        .stat {
            font-size: 2rem;
            text-align: center;
        }
    }
}

#season-form {
    background-color: white;
    margin: 10px 0;
    padding: 10px;

    border-radius: 5px;
    box-shadow: 1px 1px #cccccc;
}

#form-widget-container {

    background-color: white;
    padding: 10px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;

    #form-widget {
        margin: 10px 0;
        display: flex;
        width: 85%;

        match {
            width: 2rem;
            aspect-ratio: 1/1;
            display: block;
            margin: 3px;
            color: var(--white-smoke);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .win {
            background-color: var(--pine-mist-green);
        }

        .loss {
            background-color: var(--rose-city-red);
            opacity: 50%;
            color: var(--rose-city-red);
        }

        .draw {
            background-color: var(--timber-tan);
        }
    }

    #total-points-container {
        text-align: center;
        padding: 10px;
        background-color: var(--timbers-green);
        color: var(--victory-gold);

        #total-points {
            font-size: 2rem;
            text-align: center;
        }
        
    }

}

#charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-widget {
    background-color: white;
    margin: 10px 0;
    padding: 10px;

    border-radius: 5px;
    box-shadow: 1px 1px #cccccc;

    width: 48%;
}
